@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


/* Prevent slick from cropping hover effects */
.slick-list {
  overflow: visible !important;
}

.slick-slide > div {
  margin: 0 8px;
}

.slick-track {
  display: flex !important;
  align-items: stretch !important;
}

.slick-slide {
  transition: transform 0.3s ease-in-out;
}
